<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="find_friend.mapper.RtableUserMapper">
  <resultMap id="BaseResultMap" type="find_friend.po.RtableUser">
    <id column="rtablememberid" jdbcType="VARCHAR" property="rtablememberid" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
    <result column="joined" jdbcType="TINYINT" property="joined" />
    <result column="jointime" jdbcType="TIMESTAMP" property="jointime" />
    <result column="ready" jdbcType="TINYINT" property="ready" />
    <result column="rtableid" jdbcType="VARCHAR" property="rtableid" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="unreadMessage" jdbcType="INTEGER" property="unreadmessage" />
    <result column="latestMessageId" jdbcType="VARCHAR" property="latestmessageid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rtablememberid, identity, joined, jointime, ready, rtableid, userid, unreadMessage, 
    latestMessageId
  </sql>
  <select id="selectByExample" parameterType="find_friend.po.RtableUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rtable_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rtable_user
    where rtablememberid = #{rtablememberid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from rtable_user
    where rtablememberid = #{rtablememberid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="find_friend.po.RtableUserExample">
    delete from rtable_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="find_friend.po.RtableUser">
    insert into rtable_user (rtablememberid, identity, joined, 
      jointime, ready, rtableid, 
      userid, unreadMessage, latestMessageId
      )
    values (#{rtablememberid,jdbcType=VARCHAR}, #{identity,jdbcType=VARCHAR}, #{joined,jdbcType=TINYINT}, 
      #{jointime,jdbcType=TIMESTAMP}, #{ready,jdbcType=TINYINT}, #{rtableid,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR}, #{unreadmessage,jdbcType=INTEGER}, #{latestmessageid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="find_friend.po.RtableUser">
    insert into rtable_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rtablememberid != null">
        rtablememberid,
      </if>
      <if test="identity != null">
        identity,
      </if>
      <if test="joined != null">
        joined,
      </if>
      <if test="jointime != null">
        jointime,
      </if>
      <if test="ready != null">
        ready,
      </if>
      <if test="rtableid != null">
        rtableid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="unreadmessage != null">
        unreadMessage,
      </if>
      <if test="latestmessageid != null">
        latestMessageId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rtablememberid != null">
        #{rtablememberid,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="joined != null">
        #{joined,jdbcType=TINYINT},
      </if>
      <if test="jointime != null">
        #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="ready != null">
        #{ready,jdbcType=TINYINT},
      </if>
      <if test="rtableid != null">
        #{rtableid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="unreadmessage != null">
        #{unreadmessage,jdbcType=INTEGER},
      </if>
      <if test="latestmessageid != null">
        #{latestmessageid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="find_friend.po.RtableUserExample" resultType="java.lang.Long">
    select count(*) from rtable_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rtable_user
    <set>
      <if test="record.rtablememberid != null">
        rtablememberid = #{record.rtablememberid,jdbcType=VARCHAR},
      </if>
      <if test="record.identity != null">
        identity = #{record.identity,jdbcType=VARCHAR},
      </if>
      <if test="record.joined != null">
        joined = #{record.joined,jdbcType=TINYINT},
      </if>
      <if test="record.jointime != null">
        jointime = #{record.jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ready != null">
        ready = #{record.ready,jdbcType=TINYINT},
      </if>
      <if test="record.rtableid != null">
        rtableid = #{record.rtableid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.unreadmessage != null">
        unreadMessage = #{record.unreadmessage,jdbcType=INTEGER},
      </if>
      <if test="record.latestmessageid != null">
        latestMessageId = #{record.latestmessageid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rtable_user
    set rtablememberid = #{record.rtablememberid,jdbcType=VARCHAR},
      identity = #{record.identity,jdbcType=VARCHAR},
      joined = #{record.joined,jdbcType=TINYINT},
      jointime = #{record.jointime,jdbcType=TIMESTAMP},
      ready = #{record.ready,jdbcType=TINYINT},
      rtableid = #{record.rtableid,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      unreadMessage = #{record.unreadmessage,jdbcType=INTEGER},
      latestMessageId = #{record.latestmessageid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="find_friend.po.RtableUser">
    update rtable_user
    <set>
      <if test="identity != null">
        identity = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="joined != null">
        joined = #{joined,jdbcType=TINYINT},
      </if>
      <if test="jointime != null">
        jointime = #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="ready != null">
        ready = #{ready,jdbcType=TINYINT},
      </if>
      <if test="rtableid != null">
        rtableid = #{rtableid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="unreadmessage != null">
        unreadMessage = #{unreadmessage,jdbcType=INTEGER},
      </if>
      <if test="latestmessageid != null">
        latestMessageId = #{latestmessageid,jdbcType=VARCHAR},
      </if>
    </set>
    where rtablememberid = #{rtablememberid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="find_friend.po.RtableUser">
    update rtable_user
    set identity = #{identity,jdbcType=VARCHAR},
      joined = #{joined,jdbcType=TINYINT},
      jointime = #{jointime,jdbcType=TIMESTAMP},
      ready = #{ready,jdbcType=TINYINT},
      rtableid = #{rtableid,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      unreadMessage = #{unreadmessage,jdbcType=INTEGER},
      latestMessageId = #{latestmessageid,jdbcType=VARCHAR}
    where rtablememberid = #{rtablememberid,jdbcType=VARCHAR}
  </update>
</mapper>